In [1]:
import pandas as pd
import plotly
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import plotly.figure_factory as ff
init_notebook_mode(connected=True)

In [2]:
df_raw = pd.read_csv('data.csv')

In [3]:
df_raw.head()

,city,country,description,id,name,problem,sector,solution,stage
0,NaN,NaN,NaN,35704,AdNotes Pty Ltd,NaN,Other,NaN,NaN
1,NaN,NaN,NaN,35705,HMZ Capital,NaN,Other,NaN,NaN
2,NaN,NaN,NaN,35706,Smartrac,NaN,Other,NaN,NaN
3,NaN,NaN,NaN,35707,Rising Businesses Africa,NaN,Other,NaN,NaN
4,NaN,NaN,NaN,35708,Blue Fortune Communications,NaN,Other,NaN,NaN

In [4]:
df = df_raw[df_raw.problem.notnull()]

In [5]:
df.head()

,city,country,description,id,name,problem,sector,solution,stage
29,NaN,NaN,Robin Food is an app that allows people to cap...,35733,Robin Food,People throw away millions of rand worth of fo...,Food and Beverage,We notify people to consume the foods that wil...,Development Stage
30,NaN,NaN,We help moms experience brands by matching the...,35734,"You, Baby and I",Moms are too overwhelmed with the numerous pro...,Advertising and Marketing,"We bring moms and brands together, so moms can...",Development Stage
31,NaN,NaN,Building revolutionary wearable medical device...,35735,Vitls,"Vitals monitoring-HOME:Discontinuous,unsettlin...",MedTech / BioTech,A small wireless device allowing users to cont...,Development Stage
32,NaN,NaN,Study skills add two grades to academic perfor...,35736,SASSI,50% of students dont get to final high school ...,EdTech,"Study skills training is easy, proven and chea...",Beta Testing Stage
33,NaN,NaN,Safe Zones will change the personal GPS tracke...,35737,Guardian Angel Safety Solution,Every 5 hours a child goes missing in SA and 1...,Security,Safe Zones offer a personal safety solution fo...,Development Stage

## Startup Sectors

In [6]:
sector_df = pd.DataFrame({'sector_count':df.groupby('sector').size()})

### Top 5 Sectors

In [7]:
sector_df.sort_values(['sector_count'], ascending=False).head()

                      sector_count
sector
Other                         1165
EdTech                         967
FinTech                        830
Consumer Services              735
Travel and Transport           707

In [8]:
iplot([go.Bar(x=sector_df.sort_values(['sector_count'], ascending=False).head().index, y=sector_df.sort_values(['sector_count'], ascending=False).head().sector_count)])

### Bottom 5 sectors

In [9]:
sector_df.sort_values(['sector_count'], ascending=False).tail()

           sector_count
sector
agri                118
Sports               88
Security             82
hichtech             71
Aerospace            35

In [10]:
iplot([go.Bar(x=sector_df.sort_values(['sector_count'], ascending=False).tail().index, y=sector_df.sort_values(['sector_count'], ascending=False).tail().sector_count)])

### All sectors

In [11]:
iplot([go.Bar(x=sector_df.index, y=sector_df.sector_count)])

## Startup Stage

In [12]:
stage_df = pd.DataFrame({'stage_count':df.groupby('stage').size()})

### Top 5 Stage

In [13]:
stage_df.sort_values(['stage_count'], ascending=False).head()

                    stage_count
stage
Pre-Revenue Stage          2640
Development Stage          2419
Beta Testing Stage         2198
Revenue Stage              2019
Idea Stage                  734

In [14]:
iplot([go.Bar(x=stage_df.sort_values(['stage_count'], ascending=False).head().index, y=stage_df.sort_values(['stage_count'], ascending=False).head().stage_count)])

### Bottom 5 Stage

In [15]:
stage_df.sort_values(['stage_count'], ascending=False)

                    stage_count
stage
Pre-Revenue Stage          2640
Development Stage          2419
Beta Testing Stage         2198
Revenue Stage              2019
Idea Stage                  734
Expansion Stage             584
Dead                         22
Acquired                      6

In [16]:
iplot([go.Bar(x=stage_df.sort_values(['stage_count'], ascending=False).tail().index, y=stage_df.sort_values(['stage_count'], ascending=False).tail().stage_count)])

### All Stage

In [17]:
iplot([go.Bar(x=stage_df.index, y=sector_df.sector_count)])

## Startup Countries

In [18]:
country_df = pd.DataFrame({'country_count':df.groupby('country').size()})

### Top 5 Country

In [19]:
country_df.sort_values(['country_count'], ascending=False).head()

              country_count
country
Nigeria                 295
Brazil                  232
South Africa            218
Saudi Arabia            212
Bangladesh              192

In [20]:
iplot([go.Bar(x=country_df.sort_values(['country_count'], ascending=False).head().index, y=country_df.sort_values(['country_count'], ascending=False).head().country_count)])

### All Countries

In [21]:
iplot([go.Bar(x=country_df.index, y=country_df.country_count)])