In [1]:
import pandas as pd
import plotly
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [2]:
df_raw = pd.read_csv('data.csv')

In [3]:
df_raw.head()

,city,country,description,id,name,problem,sector,solution,stage
0,NaN,NaN,NaN,35704,AdNotes Pty Ltd,NaN,Other,NaN,NaN
1,NaN,NaN,NaN,35705,HMZ Capital,NaN,Other,NaN,NaN
2,NaN,NaN,NaN,35706,Smartrac,NaN,Other,NaN,NaN
3,NaN,NaN,NaN,35707,Rising Businesses Africa,NaN,Other,NaN,NaN
4,NaN,NaN,NaN,35708,Blue Fortune Communications,NaN,Other,NaN,NaN

In [4]:
df = df_raw[df_raw.problem.notnull()]